[% # Home page: list of latest jobs -%]

[% META title = 'Latest jobs' -%]
<div>
<form action="[% c.uri_for( '/') | html %]" method="post">
<input type="text" name="query" value="[% query | html %]">
<input type="submit" value="Search">
</form>
</div>
[% IF latest_jobs AND latest_jobs.size %]
<h2>Latest [% category | html %] jobs for you</h2>
<table>
    <thead>
        <tr>
            <th>Job title</th>
            <th>Job description</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
[% FOREACH job IN latest_jobs -%]
        <tr>
            <td>[% job.title | html %]</td>
            <td>[% job.description | html %]</td>
            <td>[% IF job.salary %][% currency(job.salary) %][% ELSE %]unavailable[% END %]</td>
            <td>
              <a href="[% c.uri_for( '/ads/delete') | html %]/[% job.id | url %]/[% request_token | url | html %]" onclick="return (confirm('Are you sure?') ? true : false);">Remove</a> |
              <a href="[% c.uri_for( '/ads/form_update') | html %]/[% job.id | url | html %]">Update</a>
            </td>
        </tr>
[% END %]
    </tbody>
</table>
[% ELSE %]
<h2>No [% category | html %] job adverts posted</h2>
[% END %]
<a href="[% c.uri_for( '/ads/form_create') | html %]">Post a Job Ad</a>
